extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project_title}

        p  #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul

        each t in tech
          li #{t}

        a.btn-link(href='https://'+live_link target="_blank") Live Demo
        a.btn-link(href='http://'+github_link target="_blank") GitHub Repo

    .project-img-box.box

      if pic1
        img.project-img(src=pic1, alt=`Screenshot 1 for `+project_title)
      if pic2
        img.project-img(src=pic2, alt=`Screenshot 2 for `+project_title)
      if pic3
        img.project-img(src=pic3, alt=`Screenshot 3 for `+project_title)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
